<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Map of St. Petersburg</title>
</head>
<style>
    h1 {
color: red;
font-weight: bold;
font-family: "Times New Roman", Georgia, Serif;
line-height: 1.3em;
}
</style>
<body>
<div>
    <h1>Карта Санкт-Петербурга</h1>
    </div>
<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ac252cc4407e43a75deeb033fd8ff806893fbf11a719c86cf5e28ac1b444741f8&amp;source=constructor" width="500" height="400" frameborder="0"></iframe>
</body>
</html>